h1 {
   text-align: center;
   padding: 10px 0 30px;
}
.content {
   background: linear-gradient(180deg, #fefeff 23.96%, hsla(0, 0%, 100%, 0));
   filter: drop-shadow(0 6px 15px rgba(192, 210, 235, 0.5));
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
